.menu-table{  //table的class
  .el-table__fixed,  .el-table__fixed-right{
    height: 100% !important; //设置高优先，以覆盖内联样式
  }
}
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 70px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
}
.demo-table-expand .el-form-item__content {
  font-size: 12px;
}
