::v-deep .vue-treeselect__control,::v-deep .vue-treeselect__placeholder,::v-deep .vue-treeselect__single-value {
  height: 30px;
  line-height: 30px;
}


//修改table下划线
.user-table{  //table的class
 .el-table__fixed,  .el-table__fixed-right{
    height: 100% !important; //设置高优先，以覆盖内联样式
  }
}

//.tableClass{  //table的class
//  /deep/ .el-table__fixed {
//    height: 100% !important; //设置高优先，以覆盖内联样式
//  }
//}
