#app{
  color:#333;
  font-size: 14px;
  height: 100%;
}
a {
  text-decoration: none;
}

.router-link-active {
  text-decoration: none;
}
.el-backtop__icon{
  color: #ca151e!important;
}

html,body {
height: 100%;
}
